<header class="title">
    <h1 class="tgc">Company/Heritage</h1>
</header>

<section class="safetyBlock">
    <header class="leftHead">
        <h2 class="tgc">Heritage</h2>
    </header>

        <div class="safetyContent">
        <h3>
			Although we never forget our heritage, Cannondale and our dealers have come a long way since our birth in a crowded loft above a pickle factory in 1971.

        </h3>
        <br></br>
        <p>
			The company grew quickly during its early years. We introduced the cycling industry's first bicycle trailer, the Bugger, and added successful cycling apparel and accessory lines while earning a strong reputation for innovation and quality.

        </p>
        <p>
			That reputation proved invaluable when Cannondale introduced its first bicycle, a Touring model, in 1983. We raised the cycling world's eyebrows by building our bicycles around handcrafted, oversized aluminum frames that were both lighter and more flex-resistant than the steel models that dominated the industry at the time. We quickly followed up this success with a road racing model and a mountain bike model in 1984. Our creative reputation encouraged both bike dealers and customers to join the revolution, and widespread industry skepticism quickly gave way to a host of imitators.

        </p>
        <p>
			In 1997, Cannondale was the first company to feature large, oversized aluminum bike frames on cycling's biggest stage, the Tour de France. After powering his Cannondale to four stage victories at the 1999 Tour, the flamboyant Saeco team leader proclaimed "Cannondale is the best bike."

        </p>
        <p>
			With a reputation for shaking up the industry, we continued to push the entire cycling community with the release of our first carbon/aluminum frame, the Six13, flaunting the low weight with prison striped jerseys that read: Legalize My Cannondale.

        </p>
    </div>

</section>