// Place all the styles related to the bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody{
	width: 95%;
	border: 1px solid white;
	margin: auto;
}

#generar{
	margin: 50px 30px 50px 30px;
	border: 1px solid white;	
	background: white;

	#image{
		margin-left: 20%;	
		margin-top: 20px;	
	}
	#name{
		font-size: 24pt;
		font-weight: bold;	
		padding: 10px 10px 10px 10px;
	}
	#description{
		padding: 10px 10px 10px 10px;	
	}
	#price{
		padding-top: 10px;
		padding-right: 10px;
		text-align: right;	
		font-size: 16pt;
		font-weight: bold;
	}
}