// Place all the styles related to the bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody{
	width: 95%;
	border: 1px solid white;
	margin: auto;
}

#generar{
	margin: 50px 30px 50px 30px;
	border: 1px solid white;	
	background: white;

	#image{
		width: 450px;	
		display: inline-block;
				border: 1px solid black;	
	}
	#name{
		border: 1px solid white;	
	}
	#description{
		border: 1px solid white;	
	}
	#price{
		width: 75px;
		border: 1px solid black;	
				display: inline-block;
	}
}